<nav style="
        z-index: 1;
        position: relative;
        background-color: crimson">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">squirrels_query</a>
    </div>
</nav>