<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>squirrels_query</title>
    {{> styles}}
</head>

<body>
    <div class="ct">
        {{> navbar}}
        <div class="tabs-wrapper">
            <input class="tabs_hack" id="tab-1" name="tabs" type="radio" checked>
            <input class="tabs_hack" id="tab-2" name="tabs" type="radio">
            <div class="tabs">
                <label class="tab tab-1" for="tab-1">Игрок</label>
                <label class="tab tab-2" for="tab-2">Клан</label>
            </div>
            <div class="content content-1">
                <form action="/user/" method="get">
                    <h3>Поиск игрока</h3>
                    <input name="uid" placeholder="Введите UID игрока" type="text" required>
                    <button class="btn-submit" type="submit">Найти игрока</button>
                </form>
            </div>
            <div class="content content-2">
                <form action="/clan/" method="get">
                    <h3>Поиск клана</h3>
                    <input name="id" placeholder="Введите ID клана, например 67.json" type="text" required>
                    <button class="btn-submit" type="submit">Найти клан</button>
                </form>
            </div>
        </div>
        <div class="info-box">
            <a href="https://stats.uptimerobot.com/hfhWlNPNqP" target='_blank' rel="noopener">Проверить статус сервера</a> · JSON: добавьте <code>.json</code> к URL.
        </div>
    </div>
</body>

</html>